@model sbojWebApp.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>City Details</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageURL)" style="width: 100px; height: auto;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>